[AUTOUPDATE]
# Version of the new release
VERSION=0.0.0

# Download URL of the ZIP Archive
ARCHIVEURL=

# URL for further information about this release
INFOURL=https://github.com/herdan75/loxberry-docker-diagnostics/releases
