[AUTOUPDATE]
# Version of the new release
VERSION=2.4.0-beta.1

# Download URL of the ZIP Archive
ARCHIVEURL=https://github.com/herdan75/loxberry-docker-diagnostics/releases/download/v2.4.0-beta.1/loxberry-docker-diagnostics-v2.4.0-beta.1.zip

# URL for further information about this release
INFOURL=https://github.com/herdan75/loxberry-docker-diagnostics/releases
