[AUTOUPDATE]
# Version of the new release
VERSION=2.1.1

# Download URL of the ZIP Archive
ARCHIVEURL=https://github.com/michaelmiklis/loxberry-plugin-docker/archive/2.1.1.zip

# URL for further information about this release
INFOURL=https://github.com/michaelmiklis/loxberry-plugin-docker/releases/tag/2.1.1
