AUTOUPDATE]
# This file is used if you would like to provide automatic updates. Put
# this file into your repo and give a link to this file in your plugin.cfg
# If you would like to release an update, edit VERSION here and give
# the download link here

# Version of the new release
VERSION=2.4.0

# Download URL of the ZIP Archive
ARCHIVEURL=https://github.com/herdan75/loxberry-docker-diagnostics/releases/download/v2.4.0/loxberry-docker-diagnostics-v2.4.0.zip

# URL for further information about this release
INFOURL=https://github.com/herdan75/loxberry-docker-diagnostics/releases/tag/v2.4.0
